<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="RFQHeader" class="RFQHeaderProps">
        <div style="display: flex; flex-direction: row">
            <mat-card magic="gRFQFilter" class="gRFQFilterProps">
                <div style="display: flex; flex-direction: row">
                    <label magic="lQuoteNo" class="lQuoteNoProps mgFont1">
                        Quote No.</label>
                    <mat-form-field class="VQuoteNoProps">
                        <div>
                            <input matInput type='number' magic="VQuoteNo" formControlName="VQuoteNo" pattern="^\d{0,15}$">
                            <div *ngIf="(screenFormGroup.get('VQuoteNo').dirty) && (
screenFormGroup.get('VQuoteNo').hasError('pattern')
)">
                                <p>{{ showErrMsg('VQuoteNo') }}</p>
                            </div>
                        </div>
                        <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
-->
                    </mat-form-field>
                    <label magic="lCustomerRFQ" class="lCustomerRFQProps mgFont1">
                        Customer RFQ</label>
                    <mat-form-field class="VCustRFQProps mgColor2">
                        <div>
                            <input matInput magic="VCustRFQ" formControlName="VCustRFQ" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VCustRFQ').dirty) && (
screenFormGroup.get('VCustRFQ').hasError('pattern')
)">
                                <p>{{ showErrMsg('VCustRFQ') }}</p>
                            </div>
                        </div>
                        <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
-->
                    </mat-form-field>
                    <label magic="lDistrictManager" class="lDistrictManagerProps mgFont1">
                        District Manager</label>
                    <div>
                        <mat-form-field class="VDistrictManagerProps">
                            <mat-select (selectionChange)="mgOnSelectionChanged($event,'VDistrictManager')" [value]="mgGetSelectedValue('VDistrictManager')"
                                magic="VDistrictManager" formControlName="VDistrictManager">
                                <mat-option *ngFor="let o of mgGetItemListValues('VDistrictManager');" [value]="o.index">
                                    {{o.realString}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <label magic="lGeoRegion" class="lGeoRegionProps mgFont1">
                        Geo Region</label>
                    <div>
                        <mat-form-field class="VGeoLocationProps">
                            <mat-select (selectionChange)="mgOnSelectionChanged($event,'VGeoLocation')" [value]="mgGetSelectedValue('VGeoLocation')"
                                magic="VGeoLocation" formControlName="VGeoLocation">
                                <mat-option *ngFor="let o of mgGetItemListValues('VGeoLocation');" [value]="o.index">
                                    {{o.realString}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" magic="BtnSearch" class="BtnSearchProps mgFont11 mgColor49">
                        Search</button>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label magic="lQuotedTo" class="lQuotedToProps mgFont1">
                        Customer</label>
                    <mat-form-field class="VQuotedToProps">
                        <div>
                            <input matInput magic="VQuotedTo" formControlName="VQuotedTo" pattern="^.{0,50}$">
                            <div *ngIf="(screenFormGroup.get('VQuotedTo').dirty) && (
screenFormGroup.get('VQuotedTo').hasError('pattern')
)">
                                <p>{{ showErrMsg('VQuotedTo') }}</p>
                            </div>
                        </div>
                        <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
-->
                    </mat-form-field>
                    <label magic="lContact" class="lContactProps mgFont1">
                        Contact</label>
                    <mat-form-field class="VContactProps">
                        <div>
                            <input matInput magic="VContact" formControlName="VContact" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VContact').dirty) && (
screenFormGroup.get('VContact').hasError('pattern')
)">
                                <p>{{ showErrMsg('VContact') }}</p>
                            </div>
                        </div>
                        <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
-->
                    </mat-form-field>
                    <label magic="lQuotedBy" class="lQuotedByProps mgFont1">
                        Quoted By</label>
                    <mat-form-field class="VQuotedbyProps">
                        <div>
                            <input matInput magic="VQuotedby" formControlName="VQuotedby" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VQuotedby').dirty) && (
screenFormGroup.get('VQuotedby').hasError('pattern')
)">
                                <p>{{ showErrMsg('VQuotedby') }}</p>
                            </div>
                        </div>
                        <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
-->
                    </mat-form-field>
                    <label magic="lProjectName" class="lProjectNameProps mgFont1">
                        Project Name</label>
                    <mat-form-field class="VProjectProps">
                        <div>
                            <input matInput magic="VProject" formControlName="VProject" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VProject').dirty) && (
screenFormGroup.get('VProject').hasError('pattern')
)">
                                <p>{{ showErrMsg('VProject') }}</p>
                            </div>
                        </div>
                        <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
-->
                    </mat-form-field>
                    <button mat-raised-button color="primary" magic="BtnClear" class="BtnClearProps mgFont11 mgColor49">
                        Clear Filter</button>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label magic="lQuoteDate" class="lQuoteDateProps mgFont1">
                        Quote Date</label>
                    <mat-form-field class="VQuoteDateProps">
                        <input matInput [matDatepicker]="VQuoteDate" formControlName="VQuoteDate" magic="VQuoteDate" class="VQuoteDateProps" placeholder="Quote Date">
                        <mat-datepicker-toggle matSuffix [for]="VQuoteDate" *ngIf="CheckReadOnly('VQuoteDate')"></mat-datepicker-toggle>
                        <mat-datepicker #VQuoteDate></mat-datepicker>
                    </mat-form-field>
                    <label magic="lTo" class="lToProps mgFont1">
                        To</label>
                    <mat-form-field class="VTQuoteDateProps">
                        <input matInput [matDatepicker]="VTQuoteDate" formControlName="VTQuoteDate" magic="VTQuoteDate" class="VTQuoteDateProps">
                        <mat-datepicker-toggle matSuffix [for]="VTQuoteDate" *ngIf="CheckReadOnly('VTQuoteDate')"></mat-datepicker-toggle>
                        <mat-datepicker #VTQuoteDate></mat-datepicker>
                    </mat-form-field>
                    <label magic="lEPC" class="lEPCProps mgFont1">
                        EPC</label>
                    <mat-form-field class="VEPCProps">
                        <div>
                            <input matInput magic="VEPC" formControlName="VEPC" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VEPC').dirty) && (
screenFormGroup.get('VEPC').hasError('pattern')
)">
                                <p>{{ showErrMsg('VEPC') }}</p>
                            </div>
                        </div>
                        <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
-->
                    </mat-form-field>
                </div>
            </mat-card>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-card>
                <m-subform magic="sfRFQList" class="sfRFQListProps">
                </m-subform>
            </mat-card>
        </div>
    </div>
</form>