/*this is a component css*/

.RFQHeaderProps {}

.gRFQFilterProps {
    border: lightskyblue solid 1px;
}

.lQuoteNoProps {
    overflow: hidden;
}

.VQuoteNoProps {}

.lCustomerRFQProps {
    overflow: hidden;
}

.VCustRFQProps {}

.lDistrictManagerProps {
    overflow: hidden;
}

.VDistrictManagerProps {}

.lGeoRegionProps {
    overflow: hidden;
}

.VGeoLocationProps {}

.BtnSearchProps {}

.lQuotedToProps {
    overflow: hidden;
}

.VQuotedToProps {}

.lContactProps {
    overflow: hidden;
}

.VContactProps {}

.lQuotedByProps {
    overflow: hidden;
}

.VQuotedbyProps {}

.lProjectNameProps {
    overflow: hidden;
}

.VProjectProps {}

.BtnClearProps {}

.lQuoteDateProps {
    overflow: hidden;
}

.VQuoteDateProps {}

.lToProps {
    overflow: hidden;
}

.VTQuoteDateProps {}

.lEPCProps {
    overflow: hidden;
}

.VEPCProps {}

.sfRFQListProps {}