.example-container {
  display: flex;
  flex-direction: column;
}

  .example-container > * {
    width: 100%;
  }

body {
  background: #eee;
}

.example-container-head {
  max-width: 1100px;
  margin: auto;
  box-shadow: 1px 2px 3px 1px #dfdfdf;
  background: #fff;
}

.colum-class {
  width: 200px;
  float: left;
  padding: 10px 20px 10px 0px;
}

.quote-text {
  width: 200px;
  float: left;
  padding: 10px;
}

.colum-class2 {
  width: 300px;
  float: left;
  padding: 10px 20px 10px 0px;
}

div.tab_content {
  border: 0px
}

.btn-colum-class {
  width: 50px;
  float: left;
  padding: 10px;
}

.grp-btnProps {
  padding: 20px 0px;
  text-align: center
}

  .grp-btnProps button {
    margin-left: 10px;
  }

.tab-btn {
  margin-left: 11px;
  position: relative;
  top: 6px;
}

.tab_button {
  background-color: #ddd;
  margin-right: 2px;
  font-weight: bold;
}

.tab_button_active {
  background-color: #fff;
  border: 1px #ccc solid;
  border-bottom: 0px;
}

.quoted-span {
  margin-top: 20px;
  display: inline-block
}

.colum-class3 {
  width: 450px;
  max-width: 90%;
  float: left;
  padding: 10px 20px 10px 0px;
}

.btn-class {
  
    min-width: auto;
    position: relative;
    float: left;
    top: 10px;
    height: 30px;
    line-height: 14px;
}

.manadatory-field {
  font-size: 18px;
  clear: both;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px;
  color: red;
}

.row-colum {
  font-size: 16px;
}

::ng-deep .mat-form-field {
  width: 100%;
}

.clear-both {
  clear: both;
}
::ng-deep .main .container-fluid{ padding: 0px;}
 ::ng-deep .breadcrumb{padding-bottom: 0px;
   margin-bottom: 0px;
}
.search-icon{
  margin-top: 20px;
  cursor: pointer;
  color: #3f51b5;
}