<form novalidate [formGroup]="screenFormGroup">
  <div style="display: flex; flex-direction: column" magic="RFQHeaderCM" class="RFQHeaderCMProps">


    <div magic="tTab" class="tTabProps">
      <div class="tab_control">
        <div class="tab-btn">
          <div *ngFor="let o of mgGetItemListValues('tTab')">
            <div mat-raised-button class="tab_button" color="accent" (click)="mgOnTabSelectionChanged('tTab', o.index)" [ngClass]="{'tab_button_active' : mgIsTabPageSelected('tTab', o.index+1 )}">
              {{mgGetTabpageText('tTab', o.index)}}
            </div>
          </div>
        </div>

        <div class="tab_content" [style.display]="mgIsTabPageSelected('tTab', 1) ? 'flex' : 'none'" style="flex-direction: column">


          <mat-card magic="gRFQHeader" class="gRFQHeaderProps">
            <div class="colum-class">
              <mat-form-field class="QuoteRef_0001Props">
                <mat-select placeholder="Quote Ref" (selectionChange)="mgOnSelectionChanged($event,'QuoteRef_0001')" [value]="mgGetSelectedValue('QuoteRef_0001')"
                            magic="QuoteRef_0001" formControlName="QuoteRef_0001">
                  <mat-option *ngFor="let o of mgGetItemListValues('QuoteRef_0001');" [value]="o.index">
                    {{o.realString}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="colum-class2">
              <mat-form-field class="QuoteTypeProps">
                <mat-select placeholder="Quote Type" (selectionChange)="mgOnSelectionChanged($event,'QuoteType')" [value]="mgGetSelectedValue('QuoteType')" magic="QuoteType"
                            formControlName="QuoteType">
                  <mat-option *ngFor="let o of mgGetItemListValues('QuoteType');" [value]="o.index">
                    {{o.realString}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="clear-both">
              <div class="colum-class">
                <mat-form-field>
                  <input magic="RFQID" matInput placeholder="Quote Number" value="{{mgGetValue('RFQID') }}" disabled="disabled">
                </mat-form-field>
              </div>

              <div class="colum-class">
                <mat-form-field>
                  <input magic="RevisionNo" matInput placeholder="Revision No" value="{{mgGetValue('RevisionNo')}}" disabled="disabled">
                </mat-form-field>
              </div>
              <div class="colum-class">

                <mat-form-field class="QuoteDateProps">
                  <input matInput [matDatepicker]="QuoteDate" formControlName="QuoteDate" placeholder="Quote Date" magic="QuoteDate" class="QuoteDateProps" required>
                  <mat-datepicker-toggle matSuffix [for]="QuoteDate"></mat-datepicker-toggle>
                  <mat-datepicker #QuoteDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="colum-class">

                <mat-form-field class="DateReceivedProps">
                  <input matInput [matDatepicker]="DateReceived" formControlName="DateReceived" placeholder="Date Rec&#39;d" magic="DateReceived" class="DateReceivedProps" required>
                  <mat-datepicker-toggle matSuffix [for]="DateReceived"></mat-datepicker-toggle>
                  <mat-datepicker #DateReceived></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="colum-class">


                <mat-form-field class="CurrencyProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'Currency')" placeholder="Currency" [value]="mgGetSelectedValue('Currency')" magic="Currency"
                              formControlName="Currency">
                    <mat-option *ngFor="let o of mgGetItemListValues('Currency');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="clear-both">
              <div class="colum-class">
                <mat-form-field class="CustomerRFQProps">

                  <input matInput magic="CustomerRFQ" formControlName="CustomerRFQ" placeholder="Customer reference #:" pattern="^.{0,30}$" required/>
                  <div *ngIf="(screenFormGroup.get('CustomerRFQ').dirty) && (screenFormGroup.get('CustomerRFQ').hasError('pattern'))">
                    <p>{{ showErrMsg('CustomerRFQ') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">

                <mat-form-field class="ValidityProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'Validity')" placeholder="Validity" required [value]="mgGetSelectedValue('Validity')" magic="Validity"
                              formControlName="Validity">
                    <mat-option *ngFor="let o of mgGetItemListValues('Validity');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="colum-class">
                <mat-form-field class="QuoteDueProps">
                  <input matInput [matDatepicker]="QuoteDue" formControlName="QuoteDue" magic="QuoteDue" placeholder="Quote Due" class="QuoteDueProps">
                  <mat-datepicker-toggle matSuffix [for]="QuoteDue"></mat-datepicker-toggle>
                  <mat-datepicker #QuoteDue></mat-datepicker>
                </mat-form-field>

              </div>
              <div class="colum-class">

                <mat-form-field class="ProjectNameProps">
                  <input matInput magic="ProjectName" formControlName="ProjectName" placeholder="Project Name" pattern="^.{0,50}$" required>
                  <div *ngIf="(screenFormGroup.get('ProjectName').dirty) && (screenFormGroup.get('ProjectName').hasError('pattern'))">
                    <p>{{ showErrMsg('ProjectName') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="IncotermProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'Incoterm')" placeholder="Incoterms" [value]="mgGetSelectedValue('Incoterm')" magic="Incoterm"
                              formControlName="Incoterm">
                    <mat-option *ngFor="let o of mgGetItemListValues('Incoterm');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

            <div class="clear-both">
              <div class="colum-class">
                <mat-form-field class="JobLocationProps">
                  <input matInput magic="JobLocation" placeholder="Job Location" required formControlName="JobLocation" pattern="^.{0,50}$">
                  <div *ngIf="(screenFormGroup.get('JobLocation').dirty) && (screenFormGroup.get('JobLocation').hasError('pattern'))">
                    <p>{{ showErrMsg('JobLocation') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">

                <mat-form-field class="GeoLocationProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'GeoLocation')" placeholder="Geo Region" required [value]="mgGetSelectedValue('GeoLocation')" magic="GeoLocation"
                              formControlName="GeoLocation">
                    <mat-option *ngFor="let o of mgGetItemListValues('GeoLocation');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="colum-class">

                <mat-form-field class="DistrictManagerProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'DistrictManager')" placeholder="District Manager" [value]="mgGetSelectedValue('DistrictManager')"
                              magic="DistrictManager" formControlName="DistrictManager">
                    <mat-option *ngFor="let o of mgGetItemListValues('DistrictManager');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="colum-class">
                <mat-form-field class="EndUserProps">
                  <input matInput magic="EndUser" placeholder="End User" formControlName="EndUser" pattern="^.{0,50}$">
                  <div *ngIf="(screenFormGroup.get('EndUser').dirty) && (screenFormGroup.get('EndUser').hasError('pattern'))">
                    <p>{{ showErrMsg('EndUser') }}</p>
                  </div>
                </mat-form-field>
              </div>
            </div>

            <!--<div class="manadatory-field"> Fields are manadatory*! </div>-->


            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">

              <div fxFlex="10%">
                <mat-form-field class="Customer_IDProps">
                  <input matInput type='number' magic="Customer_ID" formControlName="Customer_ID" placeholder="Quoted To" pattern="^-?\d{0,10}$">
                  <div *ngIf="(screenFormGroup.get('Customer_ID').dirty) && (screenFormGroup.get('Customer_ID').hasError('pattern')|| screenFormGroup.get('Customer_ID').hasError('rangevalidator'))">
                    <p>{{ showErrMsg('Customer_ID') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <mat-icon magic="BtnCust" class="search-icon" [matTooltip]="mgGetTitle('BtnCust')">search</mat-icon>

              <div fxFlex="40%">
                <mat-form-field class="QuotedToProps">

                  <input matInput magic="QuotedTo" formControlName="QuotedTo" pattern="^.{0,50}$">
                  <div *ngIf="(screenFormGroup.get('QuotedTo').dirty) && (screenFormGroup.get('QuotedTo').hasError('pattern'))">
                    <p>{{ showErrMsg('QuotedTo') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div fxFlex="20%">
                <mat-form-field class="EPCProps">
                  <input matInput magic="EPC" formControlName="EPC" placeholder="EPC" pattern="^.{0,50}$">
                </mat-form-field>
              </div>



            </div>
            <div class="clear-both">
              <div class="colum-class3">
                <mat-form-field class="ContactNameProps">
                  <input matInput magic="ContactName" formControlName="ContactName" placeholder="Contact Name" pattern="^.{0,50}$">

                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="Street1Props">
                  <input matInput magic="Street1" placeholder="Net" required formControlName="Street1" pattern="^.{0,50}$">

                </mat-form-field>
              </div>

            </div>
            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">

                <mat-icon class="search-icon" magic="BtnAddress" [matTooltip]="mgGetTitle('BtnAddress')" >search</mat-icon>
            
              <div fxFlex="51%">
                <mat-form-field class="NetProps">
                  <input matInput magic="Net" formControlName="Net" placeholder="Street 1" pattern="^.{0,50}$">
                </mat-form-field>
              </div>


            </div>

            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">

              <div fxFlex="55%">
                <mat-form-field class="Street2Props">
                  <input matInput magic="Street2" formControlName="Street2" placeholder="Street 2" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div fxFlex="20%">
                <mat-form-field class="PriorityProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'Priority')" placeholder="Priority" [value]="mgGetSelectedValue('Priority')" magic="Priority"
                              formControlName="Priority">
                    <mat-option *ngFor="let o of mgGetItemListValues('Priority');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="clear-both">

              <div class="colum-class">
                <mat-form-field class="CityProps">
                  <input matInput magic="City" placeholder="City" formControlName="City" pattern="^.{0,50}$">
                </mat-form-field>
              </div>

              <div class="colum-class">
                <mat-form-field class="StateProps">
                  <div>
                    <input matInput magic="State" placeholder="State" formControlName="State" pattern="^.{0,50}$">
                  </div>
                </mat-form-field>
              </div>
            </div>
            <div class="clear-both">
              <div class="colum-class">
                <mat-form-field class="ZipProps">
                  <input matInput magic="Zip" placeholder="Zip" formControlName="Zip" pattern="^.{0,20}$">

                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="CountryProps">
                  <input matInput magic="Country" placeholder="Country:" formControlName="Country" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field>
                  <input matInput magic="GrandTotal" placeholder="Grand Total:" value="{{mgGetValue('GrandTotal') }}">
                </mat-form-field>
              </div>
            </div>
            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">

              <div fxFlex="55%">
                <mat-form-field class="PhoneProps">
                  <input matInput magic="Phone" placeholder="Phone" formControlName="Phone" pattern="^.{0,50}$">
                </mat-form-field>

              </div>

            </div>
            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">
              <div fxFlex="55%">
                <mat-form-field class="EmailProps">
                  <input matInput magic="Email" placeholder="Email" formControlName="Email" pattern="^.{0,100}$">
                </mat-form-field>
              </div>
            </div>

            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">



              <div fxFlex="20%">

                <mat-form-field class="OrderTypeProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'OrderType')" placeholder="Order Type" [value]="mgGetSelectedValue('OrderType')" magic="OrderType"
                              formControlName="OrderType">
                    <mat-option *ngFor="let o of mgGetItemListValues('OrderType');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="20%">

                <mat-form-field class="ShippingTermsProps">
                  <mat-select (selectionChange)="mgOnSelectionChanged($event,'ShippingTerms')" placeholder="Shipping Terms" [value]="mgGetSelectedValue('ShippingTerms')"
                              magic="ShippingTerms" formControlName="ShippingTerms">
                    <mat-option *ngFor="let o of mgGetItemListValues('ShippingTerms');" [value]="o.index">
                      {{o.realString}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="20%">
                <mat-form-field class="ShippingPointProps">
                  <input matInput magic="ShippingPoint" placeholder="Shipping Point" required formControlName="ShippingPoint" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div fxFlex="205px" fxFlex.md="65" class="two_two">
                <mat-form-field class="QuotedByProps">
                  <input matInput magic="QuotedBy" placeholder="Quoted By" required formControlName="QuotedBy" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div fxFlex="20%">

                <mat-form-field [style.visibility]="mgGetVisible('DestinationCountry')" class="DestinationCountryProps">
                  <input matInput magic="DestinationCountry" placeholder="Destination Country" formControlName="DestinationCountry" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
            </div>

          </mat-card>
        </div>
        <div class="tab_content" [style.display]="mgIsTabPageSelected('tTab', 2) ? 'flex' : 'none'" style="flex-direction: column">
          <m-subform magic="sfRFQDetail" class="sfRFQDetailProps">
          </m-subform>
        </div>
        <div class="tab_content" [style.display]="mgIsTabPageSelected('tTab', 3) ? 'flex' : 'none'" style="flex-direction: column">

          <m-subform magic="sfAttachment" class="sfAttachmentProps">
          </m-subform>
        </div>
      </div>
    </div>

    <div class="grp-btnProps">
      <button mat-raised-button color="primary" magic="BtnSave" class="BtnSaveProps mgFont11 mgColor49">
        Save
      </button>
      <button mat-raised-button color="primary" magic="BtnCancel" class="BtnCancelProps mgFont11 mgColor49">
        Cancel
      </button>
    </div>
  </div>
</form>
