<form novalidate [formGroup]="screenFormGroup">
  <div style="display: flex; flex-direction: column" magic="RFQHeaderCM" class="RFQHeaderCMProps">

    <div magic="tTab" class="tTabProps">
      <div class="tab_control">
        <div class="tab-btn">
          <div *ngFor="let o of mg.getItemListValues('tTab')">
            <div mat-raised-button class="tab_button" color="accent" (click)="task.mgOnTabSelectionChanged('tTab', o.index)" [ngClass]="{'tab_button_active' : mg.isTabPageSelected('tTab', o.index+1 )}">
              {{mg.getTabpageText('tTab', o.index)}}
            </div>
          </div>
        </div>

        <div class="tab_content" [style.display]="mg.isTabPageSelected('tTab', 1) ? 'flex' : 'none'" style="flex-direction: column">

          <mat-card magic="gRFQHeader" class="gRFQHeaderProps">
            <div class="colum-class">
              <mat-form-field class="QuoteRef_0001Props">
                <mat-select placeholder="Quote Ref" [value]="mg.getSelectedValue('QuoteRef_0001')" magic="QuoteRef_0001" formControlName="QuoteRef_0001">
                  <mat-option *ngFor="let o of mg.getItemListValues('QuoteRef_0001');" [value]="o.index">
                    {{o.displayValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="colum-class2">
              <mat-form-field class="QuoteTypeProps">
                <mat-select placeholder="Quote Type" [value]="mg.getSelectedValue('QuoteType')" magic="QuoteType" formControlName="QuoteType">
                  <mat-option *ngFor="let o of mg.getItemListValues('QuoteType');" [value]="o.index">
                    {{o.displayValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="clear-both">
              <div class="colum-class">
                <mat-form-field>
                  <input magic="RFQID" matInput placeholder="Quote Number" value="{{mg.getValue('RFQID') }}" disabled="disabled">
                </mat-form-field>
              </div>

              <div class="colum-class">
                <mat-form-field>
                  <input magic="RevisionNo" matInput placeholder="Revision No" value="{{mg.getValue('RevisionNo')}}" disabled="disabled">
                </mat-form-field>
              </div>
              <div class="colum-class">

                <!-- <mat-form-field class="QuoteDateProps">
                  <input matInput [matDatepicker]="QuoteDate" formControlName="QuoteDate" placeholder="Quote Date" magic="QuoteDate" class="QuoteDateProps"
                    required>
                  <mat-datepicker-toggle matSuffix [for]="QuoteDate"></mat-datepicker-toggle>
                  <mat-datepicker #QuoteDate></mat-datepicker>
                </mat-form-field> -->
                <mat-form-field class="QuoteDateProps">
                  <input matInput placeholder="Quote Date" magic="QuoteDate" formControlName="QuoteDate" pattern="^.{0,10}$">
                  <div *ngIf="(screenFormGroup.get('QuoteDate').dirty) && (screenFormGroup.get('QuoteDate').hasError('pattern'))">
                    <p>{{ mg.getErrMsg('QuoteDate') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">

                <!-- <mat-form-field class="DateReceivedProps">
                  <input matInput [matDatepicker]="DateReceived" formControlName="DateReceived" placeholder="Date Rec&#39;d" magic="DateReceived"
                    class="DateReceivedProps" required>
                  <mat-datepicker-toggle matSuffix [for]="DateReceived"></mat-datepicker-toggle>
                  <mat-datepicker #DateReceived></mat-datepicker>
                </mat-form-field> -->
                <mat-form-field class="DateReceivedProps">
                  <input matInput placeholder="Date Received" magic="DateReceived" formControlName="DateReceived" pattern="^.{0,10}$">
                  <div *ngIf="(screenFormGroup.get('DateReceived').dirty) && (screenFormGroup.get('DateReceived').hasError('pattern'))">
                    <p>{{ mg.getErrMsg('DateReceived') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">


                <mat-form-field class="CurrencyProps">
                  <mat-select placeholder="Currency" [value]="mg.getSelectedValue('Currency')" magic="Currency" formControlName="Currency">
                    <mat-option *ngFor="let o of mg.getItemListValues('Currency');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="clear-both">
              <div class="colum-class">
                <mat-form-field class="CustomerRFQProps">

                  <input matInput magic="CustomerRFQ" formControlName="CustomerRFQ" placeholder="Customer reference #:" pattern="^.{0,30}$">
                  <div *ngIf="(screenFormGroup.get('CustomerRFQ').dirty) && (screenFormGroup.get('CustomerRFQ').hasError('pattern'))">
                    <p>{{ showErrMsg('CustomerRFQ') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">

                <mat-form-field class="ValidityProps">
                  <mat-select placeholder="Validity" required [value]="mg.getSelectedValue('Validity')" magic="Validity" formControlName="Validity">
                    <mat-option *ngFor="let o of mg.getItemListValues('Validity');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="colum-class">
                <!-- <mat-form-field class="QuoteDueProps">
                  <input matInput [matDatepicker]="QuoteDue" formControlName="QuoteDue" magic="QuoteDue" class="QuoteDueProps">
                  <mat-datepicker-toggle matSuffix [for]="QuoteDue" *ngIf="mg.checkIsReadOnly('QuoteDue')"></mat-datepicker-toggle>
                  <mat-datepicker #QuoteDue></mat-datepicker>
                </mat-form-field> -->

                <!-- <mat-form-field class="QuoteDueProps">
                  <input matInput placeholder="Quote Due" formControlName="QuoteDue" magic="QuoteDue" class="QuoteDueProps">
                  <mat-datepicker-toggle matSuffix [for]="QuoteDue"></mat-datepicker-toggle>
                  <mat-datepicker #QuoteDue disabled="false"></mat-datepicker>
                  <div *ngIf="(screenFormGroup.get('QuoteDue').dirty) && (screenFormGroup.get('QuoteDue').hasError('pattern'))">
                    <p>{{ showErrMsg('QuoteDue') }}</p>
                  </div>
                </mat-form-field> -->


                <mat-form-field class="QuoteDueProps">
                  <input matInput placeholder="Quote Due" magic="QuoteDue" formControlName="QuoteDue" pattern="^.{0,10}$">
                  <div *ngIf="(screenFormGroup.get('QuoteDue').dirty) && (screenFormGroup.get('QuoteDue').hasError('pattern'))">
                    <p>{{ mg.getErrMsg('QuoteDue') }}</p>
                  </div>
                </mat-form-field>
              </div>


              <div class="colum-class">
                <mat-form-field class="ProjectNameProps">
                  <input matInput magic="ProjectName" formControlName="ProjectName" placeholder="Project Name" pattern="^.{0,50}$">
                  <div *ngIf="(screenFormGroup.get('ProjectName').dirty) && (screenFormGroup.get('ProjectName').hasError('pattern'))">
                    <p>{{ showErrMsg('ProjectName') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="IncotermProps">
                  <mat-select placeholder="Incoterms" [value]="mg.getSelectedValue('Incoterm')" magic="Incoterm" formControlName="Incoterm">
                    <mat-option *ngFor="let o of mg.getItemListValues('Incoterm');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="clear-both">
              <div class="colum-class">
                <mat-form-field class="JobLocationProps">
                  <input matInput magic="JobLocation" placeholder="Job Location" required formControlName="JobLocation" pattern="^.{0,50}$">
                  <div *ngIf="(screenFormGroup.get('JobLocation').dirty) && (screenFormGroup.get('JobLocation').hasError('pattern'))">
                    <p>{{ showErrMsg('JobLocation') }}</p>
                  </div>
                </mat-form-field>
              </div>

              <div class="colum-class">

                <mat-form-field class="OrderTypeProps">
                  <mat-select placeholder="Order Type" [value]="mg.getSelectedValue('OrderType')" magic="OrderType" formControlName="OrderType">
                    <mat-option *ngFor="let o of mg.getItemListValues('OrderType');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="subcolum-class">

                <mat-form-field class="GeoLocationProps">
                  <mat-select placeholder="Geo Region" required [value]="mg.getSelectedValue('GeoLocation')" magic="GeoLocation" formControlName="GeoLocation">
                    <mat-option *ngFor="let o of mg.getItemListValues('GeoLocation');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-icon magic="BtnGeoLoc" [matTooltip]="mg.getTitle('BtnGeoLoc')" class="search-icon">clear</mat-icon>
              </div>

              <div class="subcolum-class">
                <mat-form-field class="DistrictManagerProps">
                  <mat-select placeholder="District Manager" [value]="mg.getSelectedValue('DistrictManager')" magic="DistrictManager" formControlName="DistrictManager">
                    <mat-option *ngFor="let o of mg.getItemListValues('DistrictManager');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-icon magic="BtnDistMgr" [matTooltip]="mg.getTitle('BtnDistMgr')" class="search-icon">clear</mat-icon>
              </div>

              <div class="colum-class">
                <mat-form-field class="EndUserProps">
                  <input matInput magic="EndUser" placeholder="End User" formControlName="EndUser" pattern="^.{0,50}$">
                  <div *ngIf="(screenFormGroup.get('EndUser').dirty) && (screenFormGroup.get('EndUser').hasError('pattern'))">
                    <p>{{ showErrMsg('EndUser') }}</p>
                  </div>
                </mat-form-field>
              </div>
            </div>

            <!--<div class="manadatory-field"> Fields are manadatory*! </div>-->



            <div class="clear-both">
              <div fxFlex="4%" Style="max-width: 4%;">
                <mat-form-field class="CustomerIDProps">
                  <input matInput type='number' magic="CustomerID" formControlName="CustomerID" placeholder="Quoted To" pattern="^-?\d{0,10}$">
                  <div *ngIf="(screenFormGroup.get('CustomerID').dirty) && (screenFormGroup.get('CustomerID').hasError('pattern')|| screenFormGroup.get('CustomerID').hasError('rangevalidator'))">
                    <p>{{ showErrMsg('CustomerID') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <mat-icon magic="BtnCust" class="search-icon" [matTooltip]="mg.getTitle('BtnCust')">search</mat-icon>

              <div Style="width: 25%;" class="colum-class">
                <mat-form-field class="QuotedToProps">

                  <input matInput magic="QuotedTo" formControlName="QuotedTo" pattern="^.{0,50}$">
                  <div *ngIf="(screenFormGroup.get('QuotedTo').dirty) && (screenFormGroup.get('QuotedTo').hasError('pattern'))">
                    <p>{{ showErrMsg('QuotedTo') }}</p>
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="EPCProps">
                  <input matInput magic="EPC" formControlName="EPC" placeholder="EPC" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="ContactNameProps">
                  <input matInput magic="ContactName" formControlName="ContactName" placeholder="Contact Name" pattern="^.{0,50}$">

                </mat-form-field>
              </div>
              <div class="colum-class">
                <!-- <mat-form-field class="NetProps">
                  <input matInput magic="Net" placeholder="Net" required formControlName="Net" pattern="^.{0,50}$">

                </mat-form-field> -->
                  <mat-form-field class="NetProps">
                    <mat-select magic="Net" placeholder="Net" required class="NetProps is-invalid" formControlName="Net" [errorStateMatcher]="matcher">
                      <mat-option *ngFor="let o of mg.getItemListValues('Net');" [value]="o.index">
                        {{o.displayValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="(screenFormGroup.get('Net').dirty) && (screenFormGroup.get('Net').hasError('pattern'))">You must make a selection</mat-error>
                  </mat-form-field>
              </div>

            </div>


            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">
              <mat-icon class="search-icon" magic="BtnAddress" [matTooltip]="mg.getTitle('BtnAddress')">search</mat-icon>

              <div fxFlex="50%">
                <mat-form-field class="Street1Props">
                  <input matInput magic="Street1" formControlName="Street1" placeholder="Street 1" pattern="^.{0,50}$">
                </mat-form-field>
              </div>

            </div>
            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">

              <div fxFlex="50%">
                <mat-form-field class="Street2Props">
                  <input matInput magic="Street2" formControlName="Street2" placeholder="Street 2" pattern="^.{0,50}$">
                </mat-form-field>
              </div>

              <div fxFlex="20%">
                <mat-form-field class="PriorityProps">
                  <mat-select placeholder="Priority" [value]="mg.getSelectedValue('Priority')" magic="Priority" formControlName="Priority">
                    <mat-option *ngFor="let o of mg.getItemListValues('Priority');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
            <div class="clear-both">

              <div class="colum-class">
                <mat-form-field class="CityProps">
                  <input matInput magic="City" placeholder="City" formControlName="City" pattern="^.{0,50}$">
                </mat-form-field>
              </div>

              <div class="colum-class">
                <mat-form-field class="StateProps">
                  <div>
                    <input matInput magic="State" placeholder="State" formControlName="State" pattern="^.{0,50}$">
                  </div>
                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="ZipProps">
                  <input matInput magic="Zip" placeholder="Zip" formControlName="Zip" pattern="^.{0,20}$">

                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field class="CountryProps">
                  <input matInput magic="Country" placeholder="Country:" formControlName="Country" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div class="colum-class">
                <mat-form-field>
                  <input matInput magic="GrandTotal" placeholder="Grand Total:" value="{{mg.getValue('GrandTotal') }}">
                </mat-form-field>
              </div>
            </div>





            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">
              <div fxFlex="20%">
                <mat-form-field class="PhoneProps">
                  <input matInput magic="Phone" placeholder="Phone" formControlName="Phone" pattern="^.{0,50}$">
                </mat-form-field>

              </div>
              <div fxFlex="20%">

                <mat-form-field class="EmailProps">
                  <input matInput magic="Email" placeholder="Email" formControlName="Email" pattern="^.{0,100}$">
                </mat-form-field>
              </div>
            </div>


            <div class="clear-both" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px">
              <div fxFlex="20%">

                <mat-form-field class="ShippingTermsProps">
                  <mat-select placeholder="Shipping Terms" [value]="mg.getSelectedValue('ShippingTerms')" magic="ShippingTerms" formControlName="ShippingTerms">
                    <mat-option *ngFor="let o of mg.getItemListValues('ShippingTerms');" [value]="o.index">
                      {{o.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="20%">
                <mat-form-field class="ShippingPointProps">
                  <input matInput magic="ShippingPoint" placeholder="Shipping Point" required formControlName="ShippingPoint" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div fxFlex="205px" fxFlex.md="65" class="two_two">
                <mat-form-field class="QuotedByProps">
                  <input matInput magic="QuotedBy" placeholder="Quoted By" required formControlName="QuotedBy" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
              <div fxFlex="20%">

                <mat-form-field [style.visibility]="mg.getVisible('DestinationCountry')" class="DestinationCountryProps">
                  <input matInput magic="DestinationCountry" placeholder="Destination Country" formControlName="DestinationCountry" pattern="^.{0,50}$">
                </mat-form-field>
              </div>
            </div>

          </mat-card>
        </div>
        <div class="tab_content" [style.display]="mg.isTabPageSelected('tTab', 2) ? 'flex' : 'none'" style="flex-direction: column">
          <magic-subform magic="sfRFQDetail" class="sfRFQDetailProps">
          </magic-subform>
        </div>
        <div class="tab_content" [style.display]="mg.isTabPageSelected('tTab', 3) ? 'flex' : 'none'" style="flex-direction: column">

          <magic-subform magic="sfAttachment" class="sfAttachmentProps">
          </magic-subform>
        </div>
      </div>
    </div>

    <div class="grp-btnProps">
      <button mat-raised-button color="primary" magic="BtnSave" class="BtnSaveProps mgFont11 mgColor49">
        Save
      </button>
      <button mat-raised-button color="primary" magic="BtnCancel" class="BtnCancelProps mgFont11 mgColor49">
        Cancel
      </button>
    </div>
  </div>
</form>