/*this is a component css*/

.ChangePasswordWCProps {}

.oldPassProps {
    overflow: hidden;
}

.vPasswordProps {
    line-height: 2;
    width: 100%;
}

.newPassProps {
    overflow: hidden;
}

.vNewPasswordProps {}

.retypePassProps {
    overflow: hidden;
}

.vRetypePasswordProps {}

.btnCancelProps { margin-top: 10px;
margin-left: 10px;}

.msgLogonMessageProps {}

.btnLogonProps { margin-top: 10px; }

.login-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 30px 20px 30px;
    background: #fbfbfb;
    border: 6px solid antiquewhite;
    border-radius: 20px;
}
::ng-deep .container-fluid{
    float: left;
}