<div class="login-container">
<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="ChangePasswordWC" class="ChangePasswordWCProps">
    <h2>Change a password</h2>
        <div style="display: flex; flex-direction: row">
        <mat-form-field class="vPasswordProps">
            <div>
                <input matInput magic="vOldPassword" formControlName="vOldPassword" type='password' placeholder="Old Password" pattern="^.{0,100}$" />
                <div *ngIf="(screenFormGroup.get('vOldPassword').dirty) && (screenFormGroup.get('vOldPassword').hasError('pattern'))">
                    <p>{{ showErrMsg('vOldPassword') }}</p>
                </div>
            </div>
        </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
        <mat-form-field class="vPasswordProps">
            <div>
                <input matInput  magic="vNewPassword" formControlName="vNewPassword" [attr.required]="" type='password' placeholder="New Password" pattern="^.{0,100}$"/>
                <div *ngIf="(screenFormGroup.get('vNewPassword').dirty) && (screenFormGroup.get('vNewPassword').hasError('pattern'))">
                    <p>{{ showErrMsg('vNewPassword') }}</p>
                </div>
            </div>
        </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
        <mat-form-field class="vPasswordProps">    
            <div>
                <input matInput magic="vRetypePassword" formControlName="vRetypePassword" [attr.required]="" type='password' placeholder="Retype Password" pattern="^.{0,100}$"/>
                <div *ngIf="(screenFormGroup.get('vRetypePassword').dirty) && (screenFormGroup.get('vRetypePassword').hasError('pattern'))">
                    <p>{{ showErrMsg('vRetypePassword') }}</p>
                </div>
            </div>
        </mat-form-field>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; ">
        <button mat-raised-button color="primary" magic="btnLogon" class="btnLogonProps">
                        Change</button>
        <button mat-raised-button color="primary" magic="btnCancel" class="btnCancelProps">
                                Cancel</button>                
        </div>
        <div style="display: flex; flex-direction: row">
            <label magic="msgLogonMessage" class="msgLogonMessageProps">
                {{mg.getValue('msgLogonMessage') }}
            </label>
        </div>
    </div>
</form>
</div>