/*this is a component css*/

.LoginScreenWCProps {}

.Label1Props {
    overflow: hidden;
}

.vUserProps {
    width: 100%;
}

.Label3Props {
    overflow: hidden;
}

.vPasswordProps {
    width: 100%;
}

.btnForgotMyPasswordProps { margin-top: 10px; }

.btnLogonProps { margin-top: 10px; }
.btnEvalProps { float: right; }
.login-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 30px 20px 30px;
    background: #fbfbfb;
    border: 6px solid #eaeaea;
    border-radius: 20px;
}
::ng-deep .container-fluid{
    float: left;
}
.clear{
    clear: both;
}
 
.btnforgotProps{
    color: #3f51b5 !important;
}