<form novalidate [formGroup]="screenFormGroup">
  <div style="display: flex; flex-direction: column" magic="RFQDetail" class="RFQDetailProps">
    <div style="display: flex; flex-direction: row" class="grpDtlBtnProps" style="justify-content:left;">
      <button mat-raised-button color="primary" style="margin-right: 5px !important" magic="btnCreateLine" class="btnCreateLineProps mgFont11 mgColor49">
        Create Line
      </button>

      <!-- <button mat-raised-button color="primary" magic="btnUpdateLine" class="btnCreateLineProps mgFont11 mgColor49">
        Update Line
      </button> -->

      <button mat-raised-button color="primary" magic="btnDeleteLine" class="btnDeleteLineProps mgFont11 mgColor49">
        Delete
      </button>
    </div>

    <div class="example-container mat-elevation-z8 Table5TableContainerProps">
      <mat-table #table [dataSource]="dataSource" class="Table5Props" matSort matSortDisableClear (matSortChange)="tableService.sortData($event)">
        <ng-container magic="Item" matColumnDef="Item">
          <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" style="display: block;">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <div magic="ITEMSEQ" [rowId]="row.rowId" class="ITEMSEQProps mgColor67 hidden_border">
                {{mg.getValue('ITEMSEQ', row.rowId) }}
              </div>
              <div class="clear-both"></div>
              <button mat-icon-button color="primary" magic="BtnAddDetail" [rowId]="row.rowId" [style.visibility]="mg.getVisible('BtnAddDetail', row.rowId)"
                class="BtnAddDetailProps mgFont5 mgColor49 btn-class">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
              <!-- <button mat-icon-button color="primary" magic="BtnSearch" class="BtnSearchProps mgFont11 mgColor49">
              <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
          </button> -->
              <button mat-icon-button color="primary" magic="Part" [rowId]="row.rowId" class="PartProps btn-class-select mgFont9 mgColor49">
                <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container magic="Description " matColumnDef="Description ">
          <mat-header-cell *matHeaderCellDef class="description-col"> Part Number  |  Description </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="description-col" style="display:block;">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">

              <label placeholder="Item Number" magic="ItemNumber" [rowId]="row.rowId" class="ItemNumberProps mgColor67 hidden_border">
                {{mg.getValue('ItemNumber', row.rowId) }}
              </label>
              <label magic="ITEMDESCRIPTION" [rowId]="row.rowId" class="ITEMDESCRIPTIONProps mgColor67 hidden_border">
                {{mg.getValue('ITEMDESCRIPTION', row.rowId) }}
              </label>
            </div>


            <!-- <div magic="ITEMDESCRIPTION" [rowId]="row.rowId" class="ITEMDESCRIPTIONProps mgColor67 hidden_border">
              {{mg.getValue('ITEMDESCRIPTION', row.rowId) }}
            </div> -->
          </mat-cell>
        </ng-container>
        <ng-container magic="Quantity" matColumnDef="Quantity">
          <mat-header-cell *matHeaderCellDef class="text-right"> Quantity </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="text-right">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <label magic="Quantity" [rowId]="row.rowId" class="QuantityProps mgColor67 hidden_border">
                {{mg.getValue('Quantity', row.rowId) }}
              </label>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container magic="Unit Price" matColumnDef="Unit Price">
          <mat-header-cell *matHeaderCellDef class="text-right"> Unit Price </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="text-right">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <label magic="UnitPrice" [rowId]="row.rowId" class="UnitPriceProps mgColor67 hidden_border">
                {{mg.getValue('UnitPrice', row.rowId) }}
              </label>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container magic="Amount" matColumnDef="Amount">
          <mat-header-cell *matHeaderCellDef class="text-right"> Amount </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="text-right">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <label magic="Basic" [rowId]="row.rowId" class="BasicProps mgColor67 hidden_border">
                {{mg.getValue('Basic', row.rowId) }}
              </label>
            </div>
          </mat-cell>
        </ng-container>



        <ng-container magic="Discount" matColumnDef="Discount">
          <mat-header-cell *matHeaderCellDef class="text-right"> Discount(%) </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="text-right">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <!-- <label magic="Discount_Weight" [rowId]="row.rowId" class="Discount_WeightProps mgColor67 hidden_border">
                            {{mg.getValue('Discount_Weight', row.rowId) }}
                        </label> -->

              <label magic="Discount_Weight" [rowId]="row.rowId" class="Discounted_PriceProps mgColor67 hidden_border">
                {{mg.getValue('Discount_Weight', row.rowId) }} %
              </label>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container magic="Discounted_Price" matColumnDef="Discounted_Amount">
          <mat-header-cell *matHeaderCellDef class="text-right"> Discount Amount </mat-header-cell>
          <mat-cell *matCellDef="let row" class="text-right" magicMark="magicTableRowContainer">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <label magic="Discounted_Price" [rowId]="row.rowId" class="Discount_AmountProps mgColor67 hidden_border">
                {{mg.getValue('Discounted_Price', row.rowId) }}
              </label>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container magic="Total" matColumnDef="Total">
          <mat-header-cell *matHeaderCellDef class="text-right"> Total </mat-header-cell>
          <mat-cell *matCellDef="let row" class="text-right" magicMark="magicTableRowContainer">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <label magic="Total" [rowId]="row.rowId" class="TotalProps mgColor67 hidden_border">
                {{mg.getValue('Total', row.rowId) }}
              </label>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container magic="Lead Time" matColumnDef="Lead Time">
          <mat-header-cell *matHeaderCellDef class="text-right"> Lead Time </mat-header-cell>
          <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="text-left">
            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
              <label magic="LeadTime" [rowId]="row.rowId" class="LeadTimeProps mgColor67 hidden_border">
                {{mg.getValue('LeadTime', row.rowId) }}
              </label>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="Table5_table_headerRowProps"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="Table5_table_rowProps" [ngClass]="{ 'selected': selection.isSelected(row)}"
          magicMark="magicTableRowContainer" (click)="tableService.selectRow(row.rowId)">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = $event;  tableService.mgOnPaginateChange($event)"
        class="page-div">
      </mat-paginator>
    </div>
    <div style="margin-top: 15px;">
      <!-- <mat-form-field class="DescriptionProps multiline">

        <textarea matInput magic="Description" formControlName="Description" placeholder="Model/Description" pattern="^.{0,250}|m{0,250}$">
          {{mg.getValue('Description') }}             </textarea>
        <div *ngIf="(screenFormGroup.get('Description').dirty) && (
             screenFormGroup.get('Description').hasError('pattern')

            )">
          <p>{{ showErrMsg('Description') }}</p>
        </div>
      </mat-form-field> -->
      <div>
        <mat-card>

          <mat-form-field class="DescriptionProps DescriptionPropsDropdown multiline">

            <textarea matInput magic="ModelDescription"  formControlName="ModelDescription" placeholder="Model/Description" pattern="^.{0,2000}|m{0,2000}$">
          {{mg.getValue('Description') }}             </textarea>

          </mat-form-field>



          <magic-subform magic="sbfModelDesc" class="sbfModelDescProps">
          </magic-subform>
        </mat-card>
      </div>
    </div>

  </div>
</form>
