<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="DisplayOptions" class="DisplayOptionsProps">
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="Table1Props" matSort matSortDisableClear (matSortChange)="tableService.sortData($event)">
                    <ng-container magic="Column2" matColumnDef="Column2">
                        <mat-header-cell *matHeaderCellDef> Selection </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <!-- <mat-checkbox magic="chkSelected" [rowId]="row.rowId" class="chkSelectedProps" noFormControl [checked]="mg.getValue('chkSelected', row.rowId)">
                                    {{mg.getText('chkSelected', row.rowId)}}
                                </mat-checkbox> -->
                                <div *ngIf="mg.isImageExists('imgcheck')">
                                    <img magic="imgcheck" [rowId]="row.rowId" class="imgcheckProps" [src]="mg.getImage('imgcheck', row.rowId)" />
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container magic="Update" matColumnDef="Update">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button mat-raised-button color="primary" magic="UpdateOption" [rowId]="row.rowId" class="UpdateOptionProps">
                                    UpdateOption</button>
                            </div>
                        </mat-cell>
                    </ng-container> -->
                    <ng-container magic="Option" matColumnDef="Option">
                        <mat-header-cell *matHeaderCellDef> Option </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="Description" [rowId]="row.rowId" class="DescriptionProps hidden_border">
                                    {{mg.getValue('Description', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="colDescr1" matColumnDef="colDescr1">
                        <mat-header-cell *matHeaderCellDef> {{mg.getValue('titleDescr1') }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="Descr1" [rowId]="row.rowId" class="Descr1Props hidden_border">
                                    {{mg.getValue('Descr1', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="colDescr2" matColumnDef="colDescr2">
                        <mat-header-cell *matHeaderCellDef> {{mg.getValue('Descr2_0001') }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="Descr2" [rowId]="row.rowId" class="Descr2Props hidden_border">
                                    {{mg.getValue('Descr2', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="colDescr3" matColumnDef="colDescr3">
                        <mat-header-cell *matHeaderCellDef> {{mg.getValue('Descr3_0001') }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="Descr3" [rowId]="row.rowId" class="Descr3Props hidden_border">
                                    {{mg.getValue('Descr3', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="colDescr4" matColumnDef="colDescr4">
                        <mat-header-cell *matHeaderCellDef> {{mg.getValue('Descr4_0001') }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="Descr4" [rowId]="row.rowId" class="Descr4Props hidden_border">
                                    {{mg.getValue('Descr4', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="colDescr5" matColumnDef="colDescr5">
                        <mat-header-cell *matHeaderCellDef> {{mg.getValue('Descr5_0001') }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="Descr5" [rowId]="row.rowId" class="Descr5Props hidden_border">
                                    {{mg.getValue('Descr5', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="Table1_table_headerRowProps"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="Table1_table_rowProps" [ngClass]="{ 'selected': selection.isSelected(row)}"
                        magicMark="magicTableRowContainer" (click)="tableService.selectRow(row.rowId)">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
        <!-- <div style="display: flex; flex-direction: row">
            <label magic="titleDescr1" class="titleDescr1Props">
                {{mg.getValue('titleDescr1') }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label magic="Descr2_0001" class="Descr2_0001Props">
                {{mg.getValue('Descr2_0001') }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label magic="Descr3_0001" class="Descr3_0001Props">
                {{mg.getValue('Descr3_0001') }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label magic="Descr4_0001" class="Descr4_0001Props">
                {{mg.getValue('Descr4_0001') }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label magic="Descr5_0001" class="Descr5_0001Props">
                {{mg.getValue('Descr5_0001') }}
            </label>
        </div> -->
    </div>
</form>