<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="RFQList" class="RFQListProps">
        <div magic="grpButtons" class="grpButtonsProps">
            <button mat-raised-button color="primary" magic="BtnAdd" class="BtnAddProps mgFont11 mgColor49 btn-class-select">
                Add
            </button>
            <button mat-raised-button color="primary" magic="BtnEdit" class="BtnEditProps mgFont11 mgColor49 btn-class-select">
                Update
            </button>
            <button mat-raised-button color="primary" magic="BtnView" class="BtnViewProps mgFont11 mgColor49 btn-class-select">
                View
            </button>
            <button mat-raised-button color="primary" magic="BtnPDF" class="BtnPDFProps mgFont11 mgColor49 btn-class-select">
                Create PDF
            </button>
            <button mat-raised-button color="primary" magic="BtnAmend" class="BtnAmendProps mgFont11 mgColor49 btn-class-select">
                    Amend
                </button>
            <button mat-raised-button color="primary" magic="BtnSubmit" class="BtnSubmitProps mgFont11 mgColor49 btn-class-select">
                Submit
            </button>
            <button mat-raised-button color="primary" magic="BtnCopy" class="BtnCopyProps mgFont11 mgColor49 btn-class-select">
                Copy Quote
            </button>
            <button mat-raised-button color="primary" magic="BtnRelease" class="BtnReleaseProps mgFont11 mgColor49 btn-class-select">
                Release to Customer
            </button>
        </div>
        <div>
            <a href="{{mg.getValue('PdfFileName') }}" target="_blank">{{mg.getValue('PdfFileName') }}</a>
        </div>
        <div class="example-container Table9TableContainerProps">
            <mat-table #table [dataSource]="dataSource" class="Table9Props" matSort matSortDisableClear (matSortChange)="tableService.sortData($event)">
                <ng-container magic="RFQID" matColumnDef="RFQID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> RFQID</mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row"	*ngIf="mg.ifRowCreated(row)">
                        <label magic="RFQID" [rowId]="row.rowId" class="RFQIDProps mgFont164 mgColor77 hidden_border">
                            {{mg.getValue('RFQID', row.rowId) }}
                        </label>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container magic="QuotedTo" matColumnDef="QuotedTo">
                    <mat-header-cell *matHeaderCellDef> Quoted To </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row"	*ngIf="mg.ifRowCreated(row)">
                        <label magic="QuotedTo" [rowId]="row.rowId" class="QuotedToProps mgFont164 mgColor77 hidden_border">
                            {{mg.getValue('QuotedTo', row.rowId) }}
                        </label>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container magic="Status" matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row"	*ngIf="mg.ifRowCreated(row)">
                        <label magic="Status" [rowId]="row.rowId" class="StatusProps mgColor3 hidden_border">
                            {{mg.getValue('Status', row.rowId) }}
                        </label>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container magic="RevisionNo" matColumnDef="RevisionNo">
                    <mat-header-cell *matHeaderCellDef> Revision No </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                     <div style="display: flex; flex-direction: row"	*ngIf="mg.ifRowCreated(row)">
                        <label magic="RevisionNo" [rowId]="row.rowId" class="RevisionNoProps mgFont164 mgColor77 hidden_border">
                            {{mg.getValue('RevisionNo', row.rowId) }}
                        </label>
                     </div>
                    </mat-cell>
                </ng-container>


                <!-- <ng-container magic="QuoteDate" matColumnDef="QuoteDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Quote Date </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <label magic="QuoteDate" [rowId]="row.rowId" class="QuoteDateProps mgFont164 mgColor77 hidden_border">
                                {{mg.getValue('QuoteDate', row.rowId) | MagicDate : 'QuoteDate'}}
                            </label>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="QuoteDue" matColumnDef="QuoteDue">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Quote Due </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <label magic="QuoteDue" [rowId]="row.rowId" class="QuoteDueProps mgFont164 mgColor77 hidden_border">
                                {{mg.getValue('QuoteDue', row.rowId) | MagicDate : 'QuoteDue'}}
                            </label>
                        </mat-cell>
                    </ng-container> -->
                <ng-container magic="Customer #" matColumnDef="Customer #">
                    <mat-header-cell *matHeaderCellDef> Customer PO # </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                    <div style="display: flex; flex-direction: row"	*ngIf="mg.ifRowCreated(row)">    
                        <label magic="CustomerRFQ" [rowId]="row.rowId" class="CustomerRFQProps mgFont164 mgColor77 hidden_border">
                            {{mg.getValue('CustomerRFQ', row.rowId) }}
                        </label>
                    </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns" class="Table9_table_headerRowProps"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="Table9_table_rowProps" [ngClass]="{ 'selected': selection.isSelected(row)}"
                    magicMark="magicTableRowContainer" (click)="tableService.selectRow(row.rowId)">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = $event;  tableService.mgOnPaginateChange($event)">
            </mat-paginator>
        </div>
    </div>
</form>
