/*this is a component css*/

.RFQListProps {
    /* background-repeat: repeat; */
    display: flex;
}

.grpButtonsProps {
    background: whitesmoke;
    /*border: lightskyblue solid 1px;*/
    border-top: 1px dashed rgb(165, 160, 160);
    /* display: flex; */
    /* align-content: space-between; */
    /* justify-content: space-between; */
    padding: 10px 250px 10px 10px;

}

.BtnAddProps {
    margin: 0px 5px;
}

.BtnEditProps {
    margin: 0px 5px;
}

.BtnViewProps {
    margin: 0px 5px;    
}

.BtnPDFProps {
    margin: 0px 5px;    
}

.BtnPrintProps {
    margin: 0px 5px;    
}

.BtnSubmitProps {
    margin: 0px 5px;    
}

.BtnCopyProps {
    margin: 0px 5px;    
}

.BtnReleaseProps {
    margin: 0px 5px;    
}

.grpTableProps {
    /*border: lightskyblue solid 1px;*/
}

.Table9TableContainerProps {}

.Table9Props {
    border: lightskyblue solid 1px;
}

.Table9_table_rowProps {}

.Table9_table_rowProps:hover {
    background-color: rgb(152, 167, 248);
}

.selected {
    background: rgb(208, 247, 252);
}

.RFQIDProps {}

.mat-column-RFQID {}

.RFQIDProps {}

.QuotedToProps {}

.mat-column-QuotedTo {}

.QuotedToProps {}

.StatusProps {}

.mat-column-Status {}

.StatusProps {}

.RevisionNoProps {}

.mat-column-RevisionNo {}

.RevisionNoProps {}

.QuoteDateProps {}

.mat-column-QuoteDate {}

.QuoteDateProps {}

.QuoteDueProps {}

.mat-column-QuoteDue {}

.QuoteDueProps {}

.Customer \#Props {}

.CustomerRFQProps {}
.btn-class-select{
    height: 28px;
    padding: 0px 10px;
    line-height: 20px;
    margin-top: 4px;
    font-size: 12px;
    min-width: auto;
   
 }
mat-row:nth-child(even) {
    background: whitesmoke;
}

.mat-header-cell {
    font-size: 14px;
    text-transform: uppercase;
    /* justify-content: center; */
    font-weight: 800;
}

.mat-header-row {

    background: #d6d6d6;
}
.buttonclass{
    display: flex;
    justify-content: space-around
    
}
::ng-deep .main .container-fluid{
    padding: 5px;

}
::ng-deep .breadcrumb{ margin: 0px;}
::ng-deep .grpButtonsProps{ padding: 10px !important; }
.page-div ::ng-deep .mat-form-field{ width: 56px;}
::ng-deep .selected{ background:#4bb3de52 !important;
}