<form novalidate [formGroup]="screenFormGroup">
  <div style="display: flex; flex-direction: column" magic="ShowDescription" class="ShowDescriptionProps">
    <div style="display: flex; flex-direction: row"	*ngIf="mg.ifRowCreated(row)">
      <mat-card>
        <mat-form-field class="ModelDescriptionProps">
          <div>
            <textarea placeholder="Model Description" matInput magic="ModelDescription" formControlName="ModelDescription" pattern="^.{0,2000}$"></textarea>
            <div *ngIf="(screenFormGroup.get('ModelDescription').dirty) && (screenFormGroup.get('ModelDescription').hasError('pattern'))">
              <p>{{ showErrMsg('ModelDescription') }}</p>
            </div>
          </div>
        </mat-form-field>
      </mat-card>
    </div>
  </div>
</form>