<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="RFQPlannerList" class="RFQPlannerListProps">
        <!-- <div style="display: flex; flex-direction: row">
            <button mat-raised-button color="primary" magic="BtnUpdateLine" class="BtnUpdateLineProps">
                Update Line</button>
        </div> -->
        <div style="display: flex; flex-direction: row">
            <div style="flex: 1;">
                <mat-table #table [dataSource]="dataSource" class="Table2Props" matSort matSortDisableClear (matSortChange)="tableService.sortData($event)">
                    <ng-container magic="QuoteNo" matColumnDef="QuoteNo">
                        <mat-header-cell *matHeaderCellDef>RFQ ID</mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row">
                                <button mat-icon-button color="primary" magic="BtnUpdateLine" class="BtnUpdateLineProps">
                                    <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="RFQID" [rowId]="row.rowId" class="RFQIDProps hidden_border">
                                    {{mg.getValue('RFQID', row.rowId) }}
                                </label>
                            </div>

                        </mat-cell>
                    </ng-container>
                    <ng-container magic="QuoteDate" matColumnDef="QuoteDate">
                        <mat-header-cell *matHeaderCellDef>Quote Date</mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="QuoteDate" [rowId]="row.rowId" class="QuoteDateProps hidden_border">
                                    {{mg.getValue('QuoteDate', row.rowId) | magicDate : 'QuoteDate'}}</label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container magic="Priority" matColumnDef="Priority">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div>
                                    <mat-form-field class="PriorityProps">
                                        <mat-select [value]="mg.getSelectedValue('Priority')" magic="Priority"
                                            [rowId]="row.rowId" formControlName="Priority">
                                            <mat-option *ngFor="let o of mg.getItemListValues('Priority');" [value]="o.index">
                                                {{o.displayValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container> -->
                    <ng-container magic="clItem" matColumnDef="Item">
                        <mat-header-cell *matHeaderCellDef>Item Seq </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="ITEMSEQ" [rowId]="row.rowId" class="ITEMSEQProps hidden_border">
                                    {{mg.getValue('ITEMSEQ', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="clPartNo" matColumnDef="PartNo">
                        <mat-header-cell *matHeaderCellDef>Item Number </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="ItemNumber" [rowId]="row.rowId" class="ItemNumberProps hidden_border">
                                    {{mg.getValue('ItemNumber', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="Description" matColumnDef="Description">
                        <mat-header-cell *matHeaderCellDef>Item Description </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="ITEMDESCRIPTION" [rowId]="row.rowId" class="ITEMDESCRIPTIONProps hidden_border">
                                    {{mg.getValue('ITEMDESCRIPTION', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="Quantity" matColumnDef="Quantity">
                        <mat-header-cell *matHeaderCellDef>Quantity </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="Quantity" [rowId]="row.rowId" class="QuantityProps hidden_border">
                                    {{mg.getValue('Quantity', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="User" matColumnDef="User">
                        <mat-header-cell *matHeaderCellDef>user </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="User" [rowId]="row.rowId" class="UserProps hidden_border">
                                    {{mg.getValue('User', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container magic="ProductFamily" matColumnDef="ProductFamily">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div>
                                    <mat-form-field class="ProductFamilyProps">
                                        <mat-select [value]="mg.getSelectedValue('ProductFamily')"
                                            magic="ProductFamily" [rowId]="row.rowId" formControlName="ProductFamily">
                                            <mat-option *ngFor="let o of mg.getItemListValues('ProductFamily');" [value]="o.index">
                                                {{o.displayValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container> -->
                    <ng-container magic="LeadTime" matColumnDef="LeadTime">
                        <mat-header-cell *matHeaderCellDef>Lead Time </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="LeadTime" [rowId]="row.rowId" class="LeadTimeProps hidden_border">
                                    {{mg.getValue('LeadTime', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="LeadTimeIn" matColumnDef="LeadTimeIn">
                        <mat-header-cell *matHeaderCellDef>Lead Time In </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <mat-select [value]="mg.getSelectedValue('LeadTimePeriod')" magic="LeadTimePeriod" [rowId]="row.rowId">
                                    <mat-option *ngFor="let o of mg.getItemListValues('LeadTimePeriod');" [value]="o.index">
                                        {{o.displayValue}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container magic="ShipDate" matColumnDef="ShipDate">
                        <mat-header-cell *matHeaderCellDef>Ship Date </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="ShipDate" [rowId]="row.rowId" class="ShipDateProps hidden_border">
                                    {{mg.getValue('ShipDate', row.rowId) | magicDate : 'ShipDate'}}</label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="Table2_table_headerRowProps"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="Table2_table_rowProps" [ngClass]="{ 'selected': selection.isSelected(row)}"
                        magicMark="magicTableRowContainer" (click)="tableService.selectRow(row.rowId)">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = $event;  tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</form>