<form novalidate [formGroup]="screenFormGroup">
   
        <div magic="CustomerSelectionWC" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">

                <div fxFlex="60%">

            <mat-form-field>   <input matInput magic="VSearch" formControlName="VSearch" placeholder="Search Customer" pattern="^.{0,50}$">
                    <div *ngIf="(screenFormGroup.get('VSearch').dirty) && (screenFormGroup.get('VSearch').hasError('pattern'))">
                        <p>{{ showErrMsg('VSearch') }}</p>
                    </div>
                <!--
            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
    -->
            </mat-form-field>
            </div>

             <div fxFlex="20%">

            <button mat-icon-button color="primary" magic="BtnSearch" class="BtnSearchProps mgFont11 mgColor49">
                <mat-icon aria-label="Search">search</mat-icon>
            </button>
            <button mat-icon-button="clear" color="primary" magic="BtnClear" class="BtnClearProps mgFont11 mgColor49">
                <mat-icon>clear</mat-icon>
            </button>
            </div>
        </div>
            <div class="clear-both"></div>
        <div style="display: flex; flex-direction: row; ">

                <magic-subform magic="SF" class="SFProps">
                </magic-subform>

        </div>
    
    
</form>
