<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="RFQPlannerWC" class="RFQPlannerWCProps">
        <div style="display: flex; flex-direction: row">
            <mat-checkbox magic="vApprovedList" class="vApprovedListProps">
                {{mgGetText('vApprovedList')}}
            </mat-checkbox>
            <button mat-raised-button color="primary" magic="BtnSearch" class="BtnSearchProps">
                Search</button>
            <button mat-raised-button color="primary" magic="BtnClear" class="BtnClearProps">
                Clear</button>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-card>
                <m-subform magic="sfRFQPlanner" class="sfRFQPlannerProps">
                </m-subform>
            </mat-card>
        </div>
    </div>
</form>