<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="DisplaySeriesTypes" class="DisplaySeriesTypesProps">
        <div magic="vTab" class="vTabProps">
            <div class="tab_control">
                <div *ngFor="let o of mgGetItemListValues('vTab')">
                    <button class="tab_button" mat-raised-button (click)="mgOnTabSelectionChanged('vTab', o.index)" [ngClass]="{'tab_button_active' : mgIsTabPageSelected('vTab', o.index+1 )}">
                        {{mgGetTabpageText('vTab', o.index)}}
                    </button>
                </div>
                <div class="tab_content" [style.display]="mgIsTabPageSelected('vTab', 1) ? 'flex' : 'none' " style="flex-direction: column">
                    <div style="display: flex; flex-direction: row">
                        <mat-card>
                            <m-subform magic="sfDisplayAttributes" class="sfDisplayAttributesSeriesProps">
                            </m-subform>
                        </mat-card>
                    </div>
                </div>
                <div class="tab_content" [style.display]="mgIsTabPageSelected('vTab', 2) ? 'flex' : 'none' " style="flex-direction: column">
                    <div style="display: flex; flex-direction: row">
                        <mat-card>
                            <m-subform magic="sfDisplayAttributes" class="sfDisplayAttributesModelProps">
                            </m-subform>
                        </mat-card>
                    </div>
                </div>
                <div class="tab_content" [style.display]="mgIsTabPageSelected('vTab', 3) ? 'flex' : 'none' " style="flex-direction: column">
                    <div style="display: flex; flex-direction: row">
                        <mat-card>
                            <m-subform magic="sfDisplayAttributess" class="sfDisplayAttributesTrimProps">
                            </m-subform>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>