/*this is a component css*/

.DisplaySeriesTypesProps {
    background-repeat: repeat;
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    
    background: ghostwhite;
    padding-top: 10px
}

.vTabProps {
    flex:1;
}

.sfDisplayAttributesSeriesProps {}

.sfDisplayAttributesModelProps {}

.sfDisplayAttributesTrimProps {}