/*this is a component css*/

.UpdateRFQPlannerWCProps {}

.gPlannerUpdateProps {
    border: lightskyblue solid 1px;

}

.BtnSaveProps {margin-top: 10px;}

.btnExitProps  { margin-top: 10px;
    margin-left: 10px;}

.Label2Props {
    overflow: hidden;
}

.LeadTimeProps {}

.Label4Props {
    overflow: hidden;
}

.ShipDateProps {
    margin-left: 20px;
}
.Planner-container{
    max-width: 520px;
    margin: 50px auto;
    padding: 30px 30px 20px 30px;
    background: #fbfbfb;
    border: 6px solid lightslategray;
    border-radius: 20px;
}
::ng-deep .container-fluid{
    float: left;
}