<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="UpdateRFQPlannerWC"
        class="UpdateRFQPlannerWCProps"
    >
        <div style="display: flex; flex-direction: row">
            <mat-card
                magic="gPlannerUpdate"
                class="gPlannerUpdateProps"
            >
                <div style="display: flex; flex-direction: row">
                    <button
                        mat-raised-button
                        color="primary"
                        magic="BtnSave"
                        class="BtnSaveProps"
                    >
                        Save</button>
                        <button
                            mat-raised-button
                            color="primary"
                            magic="btnExit"
                            class="btnExitProps"
                        >
                            E&amp;xit</button>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label
                        magic="Label2"
                        class="Label2Props"
                    >
                        LeadTime</label>
                        <mat-form-field class="LeadTimeProps">
                            <div>
                                <input
                                    matInput
                                    type='number'
                                    magic="LeadTime"
                                    formControlName="LeadTime"
                                    pattern="^\d{0,3}$"
                                >
                                    <div *ngIf="(screenFormGroup.get('LeadTime').dirty) && (
screenFormGroup.get('LeadTime').hasError('pattern')
)">
                                        <p>{{ showErrMsg('LeadTime') }}</p>
                                    </div>
                            </div>
                            <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
--></mat-form-field>
                        <label
                            magic="Label4"
                            class="Label4Props"
                        >
                            ShipDate</label>
                            <mat-form-field class="ShipDateProps">
                                <input
                                    matInput
                                    [matDatepicker]="ShipDate"
                                    formControlName="ShipDate"
                                    magic="ShipDate"
                                    class="ShipDateProps"
                                >
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="ShipDate"
                                        *ngIf="CheckReadOnly('ShipDate')"
                                    ></mat-datepicker-toggle>
                                        <mat-datepicker #ShipDate></mat-datepicker>
                            </mat-form-field>
                </div>
                </mat-card>
        </div>
        </div>
        </form>