/*this is a component css*/

.AttachmentProps {}

.grpUploadProps {
    border: lightskyblue solid 1px;
    width: 100%;
}



.grpDocumentsProps {
    border: lightskyblue solid 1px;
    width: 100%;
}

.tblAttachmentsTableContainerProps {
    width: 100%;
}

.tblAttachmentsProps {
    border: lightskyblue solid 1px;
}

.tblAttachments_table_rowProps {}

.tblAttachments_table_rowProps:hover {
    background-color: #EEEEEE;
}
 

.selected {
    background: #F5F5F5;
}

.Document IDProps {}

.mat-column-Document ID {}

.DocumentIDProps {}

.Document NameProps {}

.mat-column-Document Name {}

.DocumentNameProps {}

.ExtentionProps {}

.mat-column-Extention {}

.ExtentionProps {}
.page-div ::ng-deep .mat-form-field{ width: 56px;}
::ng-deep .BtnCancelProps {
    font-size: 13px !important;
    line-height: 27px !important;min-width: inherit;
}
::ng-deep .BtnSaveProps {
    font-size: 13px !important;
    line-height: 27px !important;min-width: inherit;
}
::ng-deep .btnUploadProps {
    font-size: 13px !important;
    line-height: 27px !important;min-width: inherit;
}