/*this is a component css*/

.WLPartsProps {
    background-repeat: repeat;
}

.Table1TableContainerProps {}

.Table1Props {
    /* border: lightskyblue solid 1px; */
}

.Table1_table_rowProps {}

.Table1_table_rowProps:hover {
    background-color: #EEEEEE;
}

.selected {
    background: #F5F5F5;
}

.SourceProps {}

.mat-column-Source {}

.SourceProps {}

.Item NOProps {}

.mat-column-Item NO {}

.ITEMNUMBERProps {}

.DescriptionProps {}

::ng-deep .mat-column-Description { flex: 3;}

.ITEMDESCRIPTIONProps {}

.LegacyProps {}

.mat-column-Legacy {}

.LEGACYITEMNUMBERProps {}

.UOMProps {}

.mat-column-UOM {}

.UOMProps {}

.CommodityCodeProps {}

.mat-column-CommodityCode {}

.COMMODITYCODEProps {}

.ListPriceProps {}

.mat-column-ListPrice {}

.LISTPRICEProps {}

.MakeBuyProps {}

.mat-column-MakeBuy {}

.MAKEBUYProps {}

mat-row:nth-child(even) {
    background: whitesmoke;
}

.mat-header-cell {
    font-size: 14px;
    text-transform: uppercase;
    /* justify-content: center; */
    font-weight: 800;
}

.mat-header-row {

    background: #d6d6d6;
}
.word-wrap-text{ white-space:  break-all; width: 300px;}
.page-div ::ng-deep .mat-form-field{ width: 56px;}
