<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="PartsListSelectionWC" class="PartsListSelectionWCProps">
        <div class="grpSearchProps" style="display: flex; flex-direction: row">
            
            <mat-form-field class="VItemNoProps">
                <div>
                    <input matInput magic="VItemNo" placeholder="Part No" formControlName="VItemNo" pattern="^.{0,20}$">
                    <div *ngIf="(screenFormGroup.get('VItemNo').dirty) && (screenFormGroup.get('VItemNo').hasError('pattern'))">
                        <p>{{ showErrMsg('VItemNo') }}</p>
                    </div>
                </div>
               
            </mat-form-field>
            
            <mat-form-field class="VDescProps">
                <div>
                    <input matInput magic="VDesc" placeholder="Description" formControlName="VDesc" pattern="^.{0,100}$" alphadirective>
                    <div *ngIf="(screenFormGroup.get('VDesc').dirty) && (screenFormGroup.get('VDesc').hasError('pattern'))">
                        <p>{{ showErrMsg('VDesc') }}</p>
                    </div>
                </div>
               
            </mat-form-field>
            
            <mat-form-field class="VLegacyProps">
                <div>
                    <input matInput magic="VLegacy" placeholder="Legacy No" formControlName="VLegacy" pattern="^.{0,20}$">
                    <div *ngIf="(screenFormGroup.get('VLegacy').dirty) && (screenFormGroup.get('VLegacy').hasError('pattern'))">
                        <p>{{ showErrMsg('VLegacy') }}</p>
                    </div>
                </div>
                
            </mat-form-field>
            <div class="column-class">

                <button mat-icon-button color="primary" magic="BtnSearch" class="BtnSearchProps mgFont11 mgColor49">
                    <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
                </button>

                <button mat-icon-button color="primary" magic="BtnClear" class="BtnClearProps mgFont11 mgColor49">
                    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
                </button>

            </div>

        </div>
        <div style="display: flex; flex-direction: row">
                <magic-subform magic="sfwlParts" class="sfwlPartsProps">
                </magic-subform>
        </div>
    </div>
</form>