/*this is a component css*/

.DisplayProductConfigProps {}

.gFilterProps {
    border: lightskyblue solid 1px;
}

.grpSearchProps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dashed lightgray;
    background: #f5f5f5;
    padding-top: 10px

}
.lSeriesProps {
    overflow: hidden;
}

.vSeriesIDProps {}

.DescriptionProps {}

.lOracleProductIdentificationProps {
    overflow: hidden;
}

.vProductStrProps {}

.btnGetOracleProductIDProps {}

.sfDisplayTemplateForSeriesProps {}

.BtnSaveProps {}

.Label1Props {
    overflow: hidden;
}

.vProductPriceProps {}

.btnExitProps {}
.list-search-icon{
    margin-top: 5px;
    cursor: pointer;
    color: #3f51b5;
  }