<form novalidate [formGroup]="screenFormGroup">
    <div magic="DisplayAttributes" class="display-attributes-check-box">

        <mat-table #table [dataSource]="dataSource" class="tbEntityProps" matSort matSortDisableClear (matSortChange)="sortData($event)">
            <ng-container magic="Attribute" matColumnDef="Attribute">
                <mat-header-cell *matHeaderCellDef>Attribute</mat-header-cell>
                <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                    <div style="display: flex; flex-direction: row">
                        <label magic="EntityDesc" [rowId]="row.rowId" class="EntityDescProps hidden_border">
                            {{mgGetValue('EntityDesc', row.rowId) }}
                        </label>
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" class="Table1_table_headerRowProps"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="Table1_table_rowProps" [ngClass]="{ 'selected': selection.isSelected(row)}"
                magicMark="magicTableRowContainer" (click)="selectRow(row.rowId)">
            </mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="30" class="page-div">
        </mat-paginator>
    </div>

    <div class="display-attributes-grid">
                <m-subform magic="sfDisplayOptions" class="sfDisplayOptionsProps">
                </m-subform>

    </div>
</form>