/*this is a component css*/

.DisplayAttributesProps {}

.Table1TableContainerProps {}

.Table1Props {
    border: lightskyblue solid 1px;
}

.Table1_table_rowProps {}

.Table1_table_rowProps:hover {
    background-color: #EEEEEE;
}

.selected {
    background: #F5F5F5;
}

.Column2Props {}

.mat-column-Column2 {}

.EntityDescProps {}

.sfDisplayOptionsProps {}