<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="ProductConfigSelection" class="ProductConfigSelectionProps">
        <div style="display: flex; flex-direction: row">
                <div style="display: flex; flex-direction: row" class="grpSearchProps">
                    <label magic="lSeries" class="lSeriesProps">
                        Series:</label>
                    <div>
                        <mat-form-field class="vSeriesIDProps">
                            <mat-select [value]="mg.getSelectedValue('vSeriesID')" magic="vSeriesID"
                                formControlName="vSeriesID">
                                <mat-option *ngFor="let o of mg.getItemListValues('vSeriesID');" [value]="o.index">
                                    {{o.displayValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="DescriptionProps hidden_border">
                        <div>
                            <input matInput magic="Description" formControlName="Description" pattern="^.{0,50}$">
                            <div *ngIf="(screenFormGroup.get('Description').dirty) && (screenFormGroup.get('Description').hasError('pattern'))">
                                <p>{{ showErrMsg('Description') }}</p>
                            </div>
                        </div>
                    </mat-form-field>
                    <label magic="lOracleProductIdentification" class="lOracleProductIdentificationProps">
                        Oracle Product Identification:</label>
                    <mat-form-field class="vProductStrProps">
                        <div>
                            <input matInput magic="vProductStr" formControlName="vProductStr" pattern="^.{0,200}$">
                            <div *ngIf="(screenFormGroup.get('vProductStr').dirty) && (screenFormGroup.get('vProductStr').hasError('pattern'))">
                                <p>{{ showErrMsg('vProductStr') }}</p>
                            </div>
                        </div>
                        
                    </mat-form-field>
                    <button mat-raised-button color="primary" magic="btnGetOracleProductID" class="btnGetOracleProductIDProps">
                        Get Oracle Product ID</button>
                </div>

        </div>
        <div style="display: flex; flex-direction: row">
                <magic-subform magic="sfDisplayTemplateForSeries" class="sfDisplayTemplateForSeriesProps">
                </magic-subform>
        </div>
        <div class="display-productConfig-exit">
        <div class="display-productConfig-inner" style="flex: 2; margin-left: 15px;">
            <button mat-raised-button color="primary" magic="BtnSave" class="BtnSaveProps">
                Save</button>
        </div>
        <div class="display-productConfig-inner">
            <mat-form-field class="vProductPriceProps">
                <div>
                    <input matInput type='number' magic="vProductPrice" formControlName="vProductPrice" pattern="^-?\d{0,8}(\.\d{1,2})?$"  placeholder=" Product Price">
                    <div *ngIf="(screenFormGroup.get('vProductPrice').dirty) && (screenFormGroup.get('vProductPrice').hasError('pattern'))">
                        <p>{{ showErrMsg('vProductPrice') }}</p>
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div class="display-productConfig-inner" style="text-align: right; margin-right:15px;;">
            <button mat-raised-button color="primary" magic="btnExit" class="btnExitProps">
                E&amp;xit</button>
        </div>
        </div>
    </div>
</form>