<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="RFQHeader" class="RFQHeaderProps">
        <div magic="gRFQFilter" class="gRFQFilterProps">



            <div class="main-row">
                <div class="col-class">
                    <mat-form-field class="VQuoteNoProps">

                        <input matInput magic="VQuoteNo" placeholder="Quote No." formControlName="VQuoteNo" pattern="^\d{0,15}$">
                        <div *ngIf="(screenFormGroup.get('VQuoteNo').dirty) && (
                         screenFormGroup.get('VQuoteNo').hasError('pattern')
                        
                        )">
                            <p>{{ showErrMsg('VQuoteNo') }}</p>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VCustRFQProps mgColor2">

                        <input matInput magic="VCustRFQ" placeholder="Customer RFQ" formControlName="VCustRFQ" pattern="^.{0,20}$">
                        <div *ngIf="(screenFormGroup.get('VCustRFQ').dirty) && (
                         screenFormGroup.get('VCustRFQ').hasError('pattern')
                        
                        )">
                            <p>{{ showErrMsg('VCustRFQ') }}</p>
                        </div>

                        <!--
                        <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                -->
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VDistrictManagerProps">
                        <mat-select [value]="mg.getSelectedValue('VDistrictManager')"
                            magic="VDistrictManager" aria-placeholder="District Manager" formControlName="VDistrictManager">
                            <mat-option *ngFor="let o of mg.getItemListValues('VDistrictManager');" [value]="o.index">
                                {{o.displayValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VGeoLocationProps">
                        <mat-select [value]="mg.getSelectedValue('VGeoLocation')"
                            magic="VGeoLocation" aria-placeholder="Geo Region" formControlName="VGeoLocation">
                            <mat-option *ngFor="let o of mg.getItemListValues('VGeoLocation');" [value]="o.index">
                                {{o.displayValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VEPCProps">

                        <input matInput magic="VEPC" placeholder="EPC" formControlName="VEPC" pattern="^.{0,20}$">
                        <div *ngIf="(screenFormGroup.get('VEPC').dirty) && (
                         screenFormGroup.get('VEPC').hasError('pattern')
                        
                        )">
                            <p>{{ showErrMsg('VEPC') }}</p>
                        </div>

                        <!--
                        <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                -->
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <button mat-icon-button color="primary" magic="BtnSearch" class="BtnSearchProps mgFont11 mgColor49">
                        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" magic="BtnClear" class="BtnClearProps mgFont11 mgColor49">
                        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
                    </button>
                </div>
            </div>
            <div class="main-row">
                <div class="col-class">
                    <mat-form-field class="VQuotedToProps">
                        <div>
                            <input matInput magic="VQuotedTo" placeholder="Customer" formControlName="VQuotedTo" pattern="^.{0,50}$">
                            <div *ngIf="(screenFormGroup.get('VQuotedTo').dirty) && (
                             screenFormGroup.get('VQuotedTo').hasError('pattern')
                            
                            )">
                                <p>{{ showErrMsg('VQuotedTo') }}</p>
                            </div>
                        </div>
                        <!--
                            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                    -->
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VContactProps">
                        <div>
                            <input matInput magic="VContact" placeholder="Contact" formControlName="VContact" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VContact').dirty) && (
                             screenFormGroup.get('VContact').hasError('pattern')
                            
                            )">
                                <p>{{ showErrMsg('VContact') }}</p>
                            </div>
                        </div>
                        <!--
                            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                    -->
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VQuotedbyProps">
                        <div>
                            <input matInput magic="VQuotedby" placeholder="Quoted By" formControlName="VQuotedby" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VQuotedby').dirty) && (
                             screenFormGroup.get('VQuotedby').hasError('pattern')
                            
                            )">
                                <p>{{ showErrMsg('VQuotedby') }}</p>
                            </div>
                        </div>
                        <!--
                            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                    -->
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VProjectProps">
                        <div>
                            <input matInput magic="VProject" placeholder="Project Name" formControlName="VProject" pattern="^.{0,20}$">
                            <div *ngIf="(screenFormGroup.get('VProject').dirty) && (
                             screenFormGroup.get('VProject').hasError('pattern')
                            
                            )">
                                <p>{{ showErrMsg('VProject') }}</p>
                            </div>
                        </div>
                        <!--
                            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                    -->
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VQuoteDateProps">
                        <input matInput [matDatepicker]="VQuoteDate" placeholder="Quote Date" formControlName="VQuoteDate" magic="VQuoteDate" class="VQuoteDateProps"
                            placeholder="Quote Date">
                        <mat-datepicker-toggle matSuffix [for]="VQuoteDate"></mat-datepicker-toggle>
                        <mat-datepicker #VQuoteDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-class">
                    <mat-form-field class="VTQuoteDateProps">
                        <input matInput [matDatepicker]="VTQuoteDate" placeholder="To Date " formControlName="VTQuoteDate" magic="VTQuoteDate" class="VTQuoteDateProps">
                        <mat-datepicker-toggle matSuffix [for]="VTQuoteDate"></mat-datepicker-toggle>
                        <mat-datepicker #VTQuoteDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="clear-both"></div>
            <!-- <mat-card> -->
                <magic-subform magic="sfRFQList" class="sfRFQListProps">
                </magic-subform>
            <!-- </mat-card> -->
        </div>
    </div>
</form>