<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="CustomerAddressList" class="CustomerAddressListProps">
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="Table1Props" matSort matSortDisableClear (matSortChange)="tableService.sortData($event)">
                    <ng-container magic="Street1" matColumnDef="Street1">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row">
                                <label magic="addr1" [rowId]="row.rowId" class="addr1Props hidden_border">
                                    {{mg.getValue('addr1', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="Street2" matColumnDef="Street2">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="addr2" [rowId]="row.rowId" class="addr2Props hidden_border">
                                    {{mg.getValue('addr2', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="Country" matColumnDef="Country">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div>
                                    <mat-form-field class="CountryProps">
                                        <mat-select [value]="mg.getSelectedValue('Country')" magic="Country" [rowId]="row.rowId" formControlName="Country">
                                            <mat-option *ngFor="let o of mg.getItemListValues('Country');" [value]="o.index">
                                                {{o.displayValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="State" matColumnDef="State">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row">
                                <div>
                                    <mat-form-field class="StateProps">
                                        <mat-select [value]="mg.getSelectedValue('State')" magic="State" [rowId]="row.rowId" formControlName="State">
                                            <mat-option *ngFor="let o of mg.getItemListValues('State');" [value]="o.index">
                                                {{o.displayValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="Postal code" matColumnDef="Postal code">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row"	*ngIf="mg.ifRowCreated(row)">
                                <label magic="postal_clde" [rowId]="row.rowId" class="postal_cldeProps hidden_border">
                                    {{mg.getValue('postal_clde', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="Table1_table_headerRowProps"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="Table1_table_rowProps" [ngClass]="{ 'selected': selection.isSelected(row)}"
                        magicMark="magicTableRowContainer" (click)="tableService.selectRow(row.rowId)">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = $event;  tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button mat-raised-button color="primary" magic="BtnSelect" class="BtnSelectProps">
                Select</button>
        </div>
    </div>    
</form>
